
/* Style the button that is used to open and close the collapsible content 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader
*/

/*
  Loading Animation
*/
.loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    border: 16px solid #ebe8e8;
    border-radius: 50%;
    border-top: 16px solid #086eb1;
    width: 60px;
    height: 60px;
    z-index: 2;
    background-color: #ebe8e8;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: none; /* Hidden by default */
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /*
    Test Button
  */
  .button {
    width: 100%;
    background-color: #006aff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .button:hover {
    background-color: rgb(62, 0, 233); /* Green */
  }
  .button:disabled {
    background-color: #00a8ce75; /* Green */
  }
  /*
   Input form
  */
  input[type=text],input[type=number], input[type=form], select, textarea{
    width: 100%;
    font: 14px Consolas;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  /*
    Result Field
  */
  .result-field {
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 20px;
  }
  .result-field h1 {
      font: 19px Consolas;
      margin: -15px -5px 0;
  }
  .result-field h1 span {
      float: left;
  }
  .result-field h1:before {
      content: ' ';
      float: left;
      margin: 9px 3px 0 -1px;
      width: 16px;
  }
  .result-field h1:after {
      content: ' ';
      display: block;
      height: 24px;
      left: 3px;
      margin: 0 1px 0 0;
      overflow: hidden;
      position: relative;
      top: 9px;
  }
/*
  Input Field
*/
  .input-field {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .input-field h1 {
      font: 19px verdana;
      margin: -15px -5px 0;
  }
  .input-field h1 span {
      float: left;
  }
  .input-field h1:before {
      content: ' ';
      float: left;
      margin: 9px 3px 0 -1px;
      width: 16px;
  }
  .input-field h1:after {
      content: ' ';
      display: block;
      height: 24px;
      left: 3px;
      margin: 0 1px 0 0;
      overflow: hidden;
      position: relative;
      top: 9px;
  }
  /*
    Header Field
  */
  .header-field {
    border-radius: 5px;
    background-color: #e4e2e2;
    padding: 20px;
  }
  .header-field h1 {
      font: 19px verdana;
      margin: -15px -5px 0;
  }
  .header-field h1 span {
      float: center;
  }
  .header-field h1:before {
      content: ' ';
      float: center;
      margin: 9px 3px 0 -1px;
      width: 16px;
  }
  .header-field h1:after {
      content: ' ';
      display: block;
      height: 12px;
      left: 3px;
      margin: 0 1px 0 0;
      overflow: hidden;
      position: relative;
      top: 9px;
  }
  /*
    GET, POST, PATCH, PUT, DELETE coloring
  */
  .getmethod {
    color: green;
    font-weight: bold;
  }
  .postmethod {
    color: #BF7A03;
    font-weight: bold;
  }
  .updatemethod {
    color: purple;
    font-weight: bold;
  }
  .deletemethod {
    color: rgb(204, 2, 2);
    font-weight: bold;
  }

  /*
    Danger method
  */
  .danger-parallel {
    border-radius: 5px;
    background-color: #BF7A03;
    color: white;
    visibility: hidden;
    padding: 20px;
  }
  /*
    Danger method
  */
  .fetching-loading {
    border-radius: 5px;
    background-color: #69ff9b9e;
    color: black;
    text-align: center;
    visibility: hidden;
    padding: 20px;
  }