
/* Style the button that is used to open and close the collapsible content 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader
*/

/*
  Make sure the result doesn't parse HTML tags
*/
#output{
  white-space: pre-wrap;
}
/*
  Loading Animation
*/
.loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    border: 16px solid #ebe8e8;
    border-radius: 50%;
    border-top: 16px solid #086eb1;
    width: 60px;
    height: 60px;
    z-index: 2;
    background-color: #ebe8e8;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    display: none; /* Hidden by default */
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /*
    Test Button
  */
  .button {
    width: 100%;
    background-color: #006aff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /*
   Input form
  */
  .width-70{
    width: 80%;
    float:right;
  }
  .width-30{
    width: 20%;
    float:left;
  }
  input[type=text],input[type=number], input[type=form], select, textarea{
    width: 100%;
    font: 14px Consolas;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  /*
    Result Field
  */
  .result-field {
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 20px;
  }
  .result-field h1 {
      font: 19px Consolas;
      margin: -15px -5px 0;
  }
  .result-field h1 span {
      float: left;
  }
  .result-field h1:before {
      content: ' ';
      float: left;
      margin: 9px 3px 0 -1px;
      width: 16px;
  }
  .result-field h1:after {
      content: ' ';
      display: block;
      height: 24px;
      left: 3px;
      margin: 0 1px 0 0;
      overflow: hidden;
      position: relative;
      top: 9px;
  }
/*
  Input Field
*/
  .input-field {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .input-field h1 {
      font: 19px verdana;
      margin: -15px -5px 0;
  }
  .input-field h1 span {
      float: left;
  }
  .input-field h1:before {
      content: ' ';
      float: left;
      margin: 9px 3px 0 -1px;
      width: 16px;
  }
  .input-field h1:after {
      content: ' ';
      display: block;
      height: 24px;
      left: 3px;
      margin: 0 1px 0 0;
      overflow: hidden;
      position: relative;
      top: 9px;
  }
  /*
    Header Field
  */
  .header-field {
    border-radius: 5px;
    background-color: #e4e2e2;
    padding: 20px;
  }
  .header-field h1 {
      font: 19px verdana;
      margin: -15px -5px 0;
  }
  .header-field h1 span {
      float: center;
  }
  .header-field h1:before {
      content: ' ';
      float: center;
      margin: 9px 3px 0 -1px;
      width: 16px;
  }
  .header-field h1:after {
      content: ' ';
      display: block;
      height: 12px;
      left: 3px;
      margin: 0 1px 0 0;
      overflow: hidden;
      position: relative;
      top: 9px;
  }
  /*
    GET, POST, PATCH, PUT, DELETE coloring
  */
  .getmethod {
    color: white;
    background-color: green;
    font-weight: bold;
  }
  .getmethod:hover {
    background-color: rgb(0, 62, 0);
  }
  .getmethod:disabled {
    background-color: rgba(0, 177, 0, 0.186); /* Green */
  }
  .postmethod {
    color: white;
    background-color: #BF7A03;
    font-weight: bold;
  }
  .postmethod:hover {
    background-color: #955f03;
  }
  .postmethod:disabled {
    background-color: #bf7a03a4;
  }
  .updatemethod {
    background-color: purple;
    font-weight: bold;
    color: white;
  }
  .updatemethod:hover {
    background-color: rgb(75, 0, 75);
  }
  .updatemethod:disabled {
    background-color: rgba(128, 0, 128, 0.422);
  }
  .deletemethod {
    color: white;
    background-color: rgb(204, 2, 2);
    font-weight: bold;
  }
  .deletemethod:hover {
    background-color: rgb(132, 2, 2);
  }
  .deletemethod:disabled {
    background-color: rgba(204, 2, 2, 0.315);
  }

  /*
    Danger method
  */
  .danger-parallel {
    border-radius: 5px;
    background-color: #BF7A03;
    color: white;
    visibility: hidden;
    padding: 20px;
  }
  /*
    Danger method
  */
  .fetching-loading {
    border-radius: 5px;
    background-color: #69ff9b9e;
    color: black;
    text-align: center;
    visibility: hidden;
    padding: 20px;
  }

  /*
   Captcha CSS
  */
  #image{
    margin-top: 10px;
    box-shadow: 5px 5px 5px 5px gray;
    width: 60px;;
    padding: 20px;
    font-weight: 400;
    padding-bottom: 12px;
    height: 40px;
    user-select: none;
    text-decoration:line-through;
    font-style: italic;
    font-size: x-large;
    border: red 2px solid;
    margin-left: 10px;
    
}
#user-input{
    box-shadow: 5px 5px 5px 5px gray;
    width:auto;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 25px;
    height: 40px;
    border: red 0px solid;
}
input{
    border:1px black solid;
}
.inline{
    display:inline-block;
}
#btn{
    box-shadow: 5px 5px 5px grey;
    color: aqua;
    margin: 10px;
    background-color: brown;
}